.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000;
  color: var(--foreground);
  font-family: var(--font-family-base);
}

.main {
  flex-grow: 1;
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.withPadding {
  padding-top: 106px;
}

@media (max-width: 768px) {
  .withPadding {
    padding-top: 100px;
  }
}